{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}


{% block title %}New Calendar Event{% endblock %}
{% block template %}
    <link href="{% static 'css/calendar.css' %}" rel="stylesheet">
    {% include 'navbar-twitter.html' %}<br/>
    <div class="container">
    <h4 style="text-align: left">Add New Event:</h4><hr>
    {% include 'messages.html' %}
        <form method="POST">
            {% csrf_token %}
            <table class="form form-table">
                {{ form }}
                <tr><td colspan="2">
                    <button class="btn btn-primary" type="submit" style="float: right">Add event</button>
                </td></tr>
            </table>
        </form>
    </div>
    <script>
        $(function () {
            $("#datetimepicker1").datetimepicker({
                format: 'DD-MM-YYYY  HH:mm',
            });
        });
    </script><br/><br/>
{% endblock %}



