{% extends 'base.html' %}
{% load static %}

{% block title %}Calendar Event{% endblock %}

{% block template %}
    <link href="{% static 'css/calendar.css' %}" rel="stylesheet">
    {% include 'navbar-twitter.html' %}<br/>
    <div class="container">
        <h4 style="text-align: center">Create or Edit Calendar Event:</h4><hr>
        <div class="clearfix">
            <a class="btn btn-info center" href="{% url 'reservation:events' %}"> Back to calendar </a>
        </div>
        {% if form.errors %}
            {% for key, value in form.errors.items %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                    {{ value|escape|striptags }}
                </div>
            {% endfor %}
        {% endif %}
{#        {% if form.errors %}#}
{#            {% for field in form %}#}
{#                {% for error in field.errors %}#}
{#                    <div class="alert alert-danger alert-dismissible" role="alert">#}
{#                        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>#}
{#                        {{ error|escape }}#}
{#                    </div>#}
{#                {% endfor %}#}
{#            {% endfor %}#}
{#        {% endif %}#}
        <form method="POST">
            {% csrf_token %}
            <table class="form form-table">
                {{ form }}
                <tr><td colspan="2"><br/>
                    {% with url_name=request.resolver_match.url_name %}
                        {% if url_name == 'new_event' %}
                            <button type="submit" class="btn btn-primary right"> Add event </button>
                        {% elif url_name == 'edit_event' %}
                            <button type="submit" class="btn btn-info right"> Edit event </button>
                        {% endif %}
                    {% endwith %}
                </td></tr>
            </table>
        </form>
    </div><br/>
{% endblock %}