{% extends "base.html" %}
{% load static %}

{% block title %}Events Calendar{% endblock %}
{% block template %}
    <link href="{% static 'css/calendar.css' %}" rel="stylesheet">
    {% include 'navbar-twitter.html' %}<br/>
    <div class="border-bottom border-1 border-dark">
        <div class="container" style="text-align: left">
            <h3>Events Calendar:</h3>
        </div>
    </div><br/>
    <div class="container">
        <div class="clearfix" style="text-align: center">
            <a class="btn btn-primary right" href="{% url 'reservation:new_event' %}"> New Event </a>
            <a class="btn btn-info left" href="{% url 'reservation:events' %}?{{ prev_month }}"> Previous Month </a>
            <a class="btn btn-info right" href="{% url 'reservation:events' %}?{{ next_month }}"> Next Month </a>
        </div>
        <div class="pt-md-3 pb-md-5 mx-auto text-center">
            <div class="calendar" style="text-align: center">
                {{ calendar|safe }}
            </div>
        </div>
    </div>
{% endblock %}
