{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}Show Calendar Events{% endblock %}
{% block template %}
    {% include 'navbar-twitter.html' %}<br/>
    <div class="border-bottom border-1 border-dark">
        <div class="container" style="text-align: left">
            <h3 style="text-align: left">Search Reservation: </h3>
        </div>
    </div><br/>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'reservation:calendar' %}">Calendar</a></li>
                <li class="breadcrumb-item"><a href="{% url 'reservation:add_event' %}">Make a Reservation</a></li>
                <li class="breadcrumb-item"><a href="{% url 'reservation:running_event' %}">Active Reservation List</a></li>
                <li class="breadcrumb-item"><a href="{% url 'reservation:all_event' %}">All Reservation List</a></li>
                <li class="breadcrumb-item"><a href="{% url 'reservation:calendar_dashboard' %}">Calendar Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Search Reservation</li>
            </ol>
        </nav><br/>
        <div class="search">
            <form method="post" action="/reservation/search-event/" class="col-3 pb-4">
                {% csrf_token %}
                <span class="fa fa-search"></span>
                <input type="text" name="search" class="rounded-pill" placeholder="Search Reservation By Name...">
            </form>
        </div>
    {% if searched.count != 0 %}
        {% if search_reservation %}
            Results found: {{ searched.count }}
            <table class="table table-hover table-bordered">
            <thead>
            <tr role="row">
                <th style="width: 80px;">ID</th>
                <th style="width: 220px;">Booker Info</th>
                <th style="width: 220px;">Start Time</th>
                <th style="width: 100px;">Duration</th>
                <th style="width: 220px;">End Time</th>
                <th style="width: 450px;">Reservation Description</th>
            </tr>
            </thead>
            <tbody>
            {% for event in searched %}
                <tr role="row">
                    <td>{{ event.id }}</td>
                    <td>{{ event.booker_data }}</td>
                    <td>{{ event.start_time }}</td>
                    <td>{{ event.duration }} minutes</td>
                    <td>{{ event.end_time }}</td>
                    <td>{{ event.notes }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        {% endif %}
    {% else %}
        Results not found.
    {% endif %}
    </div><br/>
{% endblock %}