{##}
{#{% extends "base.html" %}#}
{#{% load crispy_forms_filters %}#}
{#{% load crispy_forms_tags %}#}
{##}
{#{% block template %}#}
{#    {% include 'messages.html' %}#}
{##}
{#    <div class="content-section">#}
{#        <h2>Password Reset Confirm</h2><hr>#}
{#        <p>Please enter your new password.</p>#}
{#        <form method="POST">#}
{#            {% csrf_token %}#}
{#            {{ form|crispy }}#}
{#            <button class="btn btn-outline-info" type="submit">Reset password</button>#}
{#        </form>#}
{#    </div>#}
{#{% endblock %}#}

{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block template %}
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center">
                            <h4 class="font-weight-light my-4 text-center">Change Your Password</h4>
                        </div>
                        <div class="card-body">
                        {% include 'messages.html' %}
                            <form method="post">
                                {% csrf_token %}
{#                                {{ form|crispy }}#}
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_new_password1">New Password*</label>
                                            <input type="password" name="new_password1" autocomplete="new-password"
                                                   class="form-control" required id="id_new_password1"
                                                   placeholder="Enter New Password"/>
                                            <br/>
                                            <label class="small mb-1" for="id_new_password2">New Password Confirmation*</label>
                                            <input type="password" name="new_password2" autocomplete="new-password"
                                                   required id="id_new_password2" class="form-control"
                                                   placeholder="Confirm New Password"/>
                                        </div>
                                    </div>
                                </div><br/>
                                <div class="col-md-10 offset-md-1">
                                    <button type="submit" class="btn btn-primary">Confirm</button>
                                </div>
{#                                <br/>#}
                            </form>
                            <div class="modal-footer">
                                <a href="{% url 'main:profile' request.user.id %}"><button class="btn btn-outline-info" >Back to profile</button></a>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}