{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Set New Password{% endblock %}

{% block template %}
    {% include 'navbar-twitter.html' %}
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center">
                            {% if validlink %}
                                <h3 class="font-weight-light my-4 text-left">Set New Password:</h3>
                                <hr>
                                <p>Please enter your new password and password confirmation.</p>
                                {% if form.errors %}
                                    {% for key, value in form.errors.items %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                                            {{ value|escape|striptags }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <form method="POST" class="form-control px-4 py-4">
                                    {% csrf_token %}
                                        {{ form|crispy }}
                                    <button class="btn btn-primary" type="submit" style="float: right">Reset Password</button><br><br>
                                </form>
                                <br/><br/>
                            {% else %}
                                <br>
                                <p>The password reset link was invalid, possibly because it has already been used.
                                    <br>Please request a new password reset.
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
