{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Forgot Your Password?{% endblock %}

{% block template %}
    {% include 'navbar-twitter.html' %}
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center">
                            <h3 class="font-weight-light my-4 text-left">Reset Password:
                                <a href="{% url 'main:login' %}">
                                    <button class="btn btn-secondary rounded-pill" type="button" style="float: right">Back Log In</button>
                                </a></h3>
                            <hr>
                            <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
                            {% if form.errors %}
                                {% for key, value in form.errors.items %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                                        {{ value|escape|striptags }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <form method="POST" class="form-control px-4 py-4">
                                {% csrf_token %}
{#                                    {{ form|crispy }}#}
                                <div id="div_id_email" class="control-group">
                                    <label for="id_email" class="control-label requiredField">Email<span class="asteriskField">*</span></label>
                                    <div class="controls">
                                        <input type="text" name="email" autofocus autocapitalize="none" autocomplete="email"
                                               maxlength="150" class="text input textInput" required id="id_email" size="35">
                                    </div><br>
                                </div>
                                <button class="btn btn-primary" type="submit" style="float: right">Reset Email</button><br><br>
{#                                <div class="form-buttons">#}
{#                                    <input type="submit" value="Send" class="btn btn-primary">#}
{#                                    <a href="{%url 'main:login' %}" class="btn btn-outline-primary">Cancel</a>#}
{#                                </div>#}
                            </form>
                            <br/><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

