{% load i18n %}{% autoescape off %}
{% blocktranslate %}
Hi,

You're receiving this email because you requested a password reset for your user account at {{ domain }}.
Please click the following link to reset your password:
{% endblocktranslate %}
{% block reset_link %}{{ protocol }}://{{ domain }}{% url 'main:password_reset_confirm' uidb64=uid token=token %}{% endblock %}
{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}
{% translate "Thanks for using our site!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}
{% endautoescape %}
