{% extends "base.html" %}

{% block title %}Email Sent{% endblock %}

{% block template %}
    {% include 'navbar-twitter.html' %}
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center">
                            <h3 class="font-weight-light my-4 text-left">Message Was Sent!
                                <a href="{% url 'main:login' %}">
                                    <button class="btn btn-secondary rounded-pill" type="button" style="float: right">Back Log In</button>
                                </a>
                            </h3><hr>
                            <p>
                                Password reset sent!<br>
                                Please check your inbox and follow the instruction to set a new password.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




