{% extends "base.html" %}

{% block template %}
    {% include 'navbar-twitter.html' %}
    <div class="container" style="max-width:600px">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Add Book</h1><hr/>
        </div>
        <div class="py-3">
            <div class="row">
                <div class="col-12">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-info" type="submit" style="float: right">Add book</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}