{% extends 'base.html' %}
{% load static %}

{%  block title %} Cookies {% endblock %}

{% block template %}
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <div class="wrapper">
        <div class="cookie-container">
            <p>
                We use cookies in this website to give you the best experience on our
                site and show you relevant ads.
                By clicking “Accept“, you agree to our website's cookie use as described in our Cookie Policy.<br>
                To find out more information, read our <a href="#">privacy policy</a> and <a href="#">cookie policy</a>.
            </p>
            <button class="cookie-btn">Accept</button>
        </div>
    </div>
{% endblock %}

