{% extends 'base.html' %}

{% block title %}Twitter page{% endblock %}

{% block template %}
    {% include 'navbar-twitter.html' %}
    <div class="container"><br/>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <h3>Hello world</h3>
    </div>
{% endblock %}