{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Twitter page{% endblock %}

{% block template %}
    {% include 'navbar-twitter.html' %}<br/>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                    {% if message.tags %} {{ message|striptags|safe }} {% else %} {{ message }} {% endif %}
                    <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}<br/>
        <div class="container text-center">
            <div class="row">
                <div class="col-8">

        <h3 style="text-align: center">Twitter Page
        </h3><hr/><br/>
{#        <p>User tweets:</p>#}
        {% for tweet in tweets %}
            <div class="alert alert-dark" role="alert">
                {{ tweet.body }}<br/>
                <small class="text-muted">
                    {{ tweet.created_at }} By
                    @{{ tweet.user.username }}
                </small>
            </div><br/>
        {% endfor %}
    </div>
    <div class="col-4">
        <br/><br/>
        {% if form %}
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                {{ value|linebreaks }}
                <button type="submit" class="btn btn-primary">Post Tweet</button>
            </form>
        {% endif %}
    </div>
{% endblock %}