{% extends 'base.html' %}
{% load static %}

{% block title %}profile list{% endblock %}

{% block template %}
    {% include 'navbar-twitter.html' %}<br/>
    <div class="border-bottom border-1 border-dark">
        <div class="container" style="text-align: left">
            <h3>Profile List:</h3>
        </div>
    </div><br/>
    <div class="container py-5 px-2">
        {% if profiles %}
            {% for profile in profiles %}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            {% if profile.profile_image %}
                                <img src="{{ profile.profile_image.url }}" class="img-fluid rounded-start" style="width:180px; height:180px;" alt="{{ profile.user.username }}">
                            {% else %}
                                <img src="{% static 'images/default_profile_img.jpg' %}" class="img-fluid rounded-start" width="180px" height="180px" alt="default-img">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ profile.user.username }}
                                    {% if profile.user.first_name and profile.user.last_name %}
                                        <small>&nbsp;&nbsp;({{ profile.user.first_name|capfirst }} {{ profile.user.last_name|capfirst }})</small><br/>
                                    {% endif %}
                                </h5>
                                <a href="{% url 'main:profile' profile.user.id %}" class="card-text">@{{ profile.user.username|lower }}</a>
                                <br/><br/>
                                <p class="card-text"><small class="text-muted">Last Updated: {{ profile.date_modified }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}